#block_accessplus_decrease_font {
    margin-right: 5px;
}

#block_accessplus_increase_font {
    margin-right: 5px;
}

.userpicture {
    z-index: 9999;
}

#menu_block_accessplus_theme_picker {
    margin-top:10px;
}